<table>
  <tr>
    <td>
      <h1>Welcome!</h1>
      <p>
        At The Kitechen we are happy to offer a wide range of cooking classes to
        bring a food diversity on your table
      </p>
    </td>
  </tr>
</table>
