.card {
	background-color: #EDEDED;
	width: 1035px;
	height: 200px;
	margin: 30px auto;
}


/* body section */
.body {
	padding-left: 110px;
	width: calc(100% - 110px);
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.contents {
	margin-left: 45px;
	position: relative;
	height: 100%;
}

.course {
	color: #000;
	font-size: 30px;
	font-weight: 700;
	top: 28px;
	position: absolute;
}

.course:hover {
	text-decoration: underline;
}

.courseTitle {
	margin-top: 90px;
	text-align: left;
}

.courseTitle,
.prerequisite {
	color: #000;
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 15px;
}


/* button section */
.button {
	width: auto;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
}

