.error {
	font-size: 20px;
	font-weight: 300;
}

.errorContainer {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	height: 100vh;
}

.NotFoundContainer{
	text-align: center;
	margin-top: 100px;
}